@import url("x.css");
@import url("y.css");

.selector1 {
  margin-top: 24px;
  padding: "1px 2px 3px 4px";
}

.selector-1,
.selector-2,
.selector-3[type="text"] {
  box-sizing: border-box;
  color: #333;
  background: linear-gradient(217deg, rgba(255, 255, 255, .8), rgba(255, 0, 0, 0) 70.71%);
}

.selector-a,
.selector-b:not(:first-child) {
  top: calc(calc(1em * 20) / 40);
  padding: 10px;
}

@media (min-width >= 10em) {
  .selector {
    /* comment 2 */
    transform: translate(1, 1) scale(4);

    /* comment 1 */
    background-color: #ccc;
  }
}

.selector-x > .selector-y {
  font-size: 1rem;
}

.selector-z:after {
  content: "";
  background-image: url("http://hoge/x.svg");
}

/* css-next */
:root {
  --font-size: 1rem;
  --color: #fff;
  --danger-theme: {
    color: hwb(90, 0%, 0%, .5);
    background: red;
  };
}

body {
  font-family: system-ui;
}

.selector-100 {
  text-align: center;

  & p {
    color: #f0f;
  }

  & a {
    color: var(--color);
  }
}

.danger {
  @apply --danger-theme;

  font-size: calc(var(--font-size) * 2);
}

p:matches(:first-child, .special) {
  color: red;
  background-color: hsl(300grad 25% 15% / 70%);
}

@custom-media --small-viewport (max-width: 30em);

@custom-selector :--button button, .button;
